# DIFFERENT PROGRAMS:-

# DISPLAY DATE AND TIMES

In [1]:
#display date and time
import datetime

e = datetime.datetime.now()

print (e.strftime("%Y-%m-%d %H:%M:%S"))

print (e.strftime("%d/%m/%Y"))

print (e.strftime("%I:%M:%S %p"))#h for hour and i show am and pm hour

print (e.strftime("%a, %b %d, %Y"))

2020-11-28 10:48:25
28/11/2020
10:48:25 AM
Sat, Nov 28, 2020

# AREA OF CIRCULE:-

In [2]:
import math
r=float(input("enter the radious of the circle:-"))
Area=3.14*(r**2)
print("area of circle is",Area)

enter the radious of the circle:-4
area of circle is 50.24

# REVERSE IN STRING

In [3]:
str=("hello")
str1=("world")
print("first  name:-",str1+ "\nlast name",str)

first  name:- world
last name hello

# ADD TWO NOS

In [ ]:
a=int(input("enter a first no"))
b=int(input("enter the second no"))
sum=a+b
print('sum is:=',sum)

# AVERAGE TWO NOS

In [ ]:
numbers=input("enter  nos using space:-")
numberlist=numbers.split()
print("all enter nos:",numberlist)
sum=0
avg=0
for num in numberlist:
    sum+=int(num)
avg=sum/len(numberlist)
print("\nsum of number=",sum)
print("\n average of no=",avg)

# LEAP

In [14]:
x=int(input("enter a year"))
if x%4==0 and x%100!=0:
    print("leap year",x)
elif(x%100==0):
    print(x,"not leap year")
    
elif(x%400==0):
    print(x,"is a leap year")
else:
    print(x,"not leap year")

enter a year24
leap year 24

In [15]:
num=int(input("enter the no of rows: ="))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the no of rows: =4
*
* *
* * *
* * * *

In [16]:
num=int(input("enter the no of rows: ="))
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end=" ")
    k=k+2
    print()

enter the no of rows: =5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

# PRINT STRING AND TUPLE SEPARATED BY COMMA

In [4]:
name=input("enter the nos separated by comma")
list=name.split(",")
#tuple=tuple(list)
print("list",list)
#print("tuple",tuple)

enter the nos separated by comma34,78,91
list ['34', '78', '91']

# AVERAGE OF NOS

In [7]:
numbers=input("enter  nos using space:-")
numberlist=numbers.split()
print("all enter nos:",numberlist)
sum=0
avg=0
for num in numberlist:
    sum+=int(num)
avg=sum/len(numberlist)
print("\nsum of number=",sum)
print("\n average of no=",avg)

enter  nos using space:-34 56 78 89
all enter nos: ['34', '56', '78', '89']

sum of number= 257

 average of no= 64.25

# FACTORIAL NOS:-

In [9]:
num=int(input("enter a no:-"))
fact=1
if(num<0):
    print("factorial does not exit")
elif(num==1):
    printf("factorial is 1")
else:
    for i in range(1,num+1):
        fact=fact*num
    
print("factorial is",fact)

enter a no:-8
factorial is 16777216

In [10]:
def factorial(n): 
    if n < 0: 
        return 0
    elif n == 0 or n == 1: 
        return 1
    else: 
        fact = 1
        while(n > 1): 
            fact *= n 
            n -= 1
        return fact 
  
# Driver Code 
num=5
print("Factorial of",num,"is", 
factorial(num))

Factorial of 5 is 120

# FIBONACIES SERIES

In [12]:
n=int(input("enter the terms:-"))
a=0
b=1
count=0
for i in range(0,a):
    next=a+b
    a=b
    s=next
    print(next,"series")

enter the terms:-4

# FIND GREATEST NO AMONG 3 NO:-

In [13]:
a=int(input("enter first no"))
b=int(input("enter 2nd no"))
c=int(input("enetr 3rd no"))

if (a>b) and (a>c):
    print("first great no",a)
elif (b>c) and (b>a):
    print("second no is greater",b)
else:
    print("3rd no is greater",c)

enter first no34
enter 2nd no67
enetr 3rd no89
3rd no is greater 89

# PRINT EVEN NO IN THE RANGE:-

In [16]:
#print even no in the range:-
num=int(input("enter the nos"))
for i in range (1,num+1):
    if (i%2)==0:
        print(i,"even no")
    else:
        print(i,"odd no")

enter the nos11
1 odd no
2 even no
3 odd no
4 even no
5 odd no
6 even no
7 odd no
8 even no
9 odd no
10 even no
11 odd no

In [17]:
#compare between two lis:-
list1=set(["hello","world"])
list2=set(["hello", "hi"])
print(list1.difference(list2))

{'world'}

# GCD

In [18]:
#FIND GCD OR HCF
import math
print("gcd is:-",math.gcd(48,16))

gcd is:- 16

# LCM

In [19]:
#find LCM of 2nos

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1=int(input("enter the 1st no"))
num2=int(input("enter the 1st no"))

print("The L.C.M. is", compute_lcm(num1, num2))

enter the 1st no45
enter the 1st no12
The L.C.M. is 180

# PRIME NO

In [1]:
lower=int(input("enter a no:-"))
upper=int(input("enter a no:-"))
for num in range(lower,upper+1):#also include last value
    if(num>1):
        for i in range(2,num):
            if(num%i)==0:
                print(num," is not prime no")
                break
        else:
            print(num,"prime no")

enter a no:-5
enter a no:-11
5 prime no
6  is not prime no
7 prime no
8  is not prime no
9  is not prime no
10  is not prime no
11 prime no

# SIMPLE INTREST

In [2]:
def simpleintrest(p,t,r):
    print("Enter value of p:-",p)
    print("Enter value of q:-",t)
    print("Enter value of r:-",r)
    
    s=(p*t*r)/100
    
    print("\n The simple intrest is:-",s)
    

simpleintrest(8,10,12)

Enter value of p:- 8
Enter value of q:- 10
Enter value of r:- 12

 The simple intrest is:- 9.6

# ARMSTRONG

In [4]:
num=int(input("enter a no:-"))
temp=num
result=0
length=len(str(num))# we have to convert the int to string, because len can't be find out in interger
while(temp!=0):
    module=temp%10
    result=result+module**length
    temp//=10
if(num==result):
    print("amstrong no",num)
else:
    print("not amstrong",num)

enter a no:-26
not amstrong 26

# ARRAY CONCEPT

In [20]:
#Accessing array using for loop
from array import *
st=array("i",[10,20,30,40,50])
for i in st:
    print(i)

10
20
30
40
50

In [21]:
#accessing array using range function
from array import*
a=array("i",[10,20,30])
n=len(a)
for i in range(n):
    print(a[i])

10
20
30

In [22]:
#accessing array using while loop
from array import *
a=array("i",[10,20,30])
n=len(a)
i=0
while (i<n):
     print(a[i])
     i=i+1

10
20
30

# ADD NOS

In [23]:
#append method in array
from array import *
a=array("i",[10,20,30])
a.append(60)
ap=len(a)
for i in range(ap):
    print(a[i])

10
20
30
60

In [24]:
#accessing array using numpy
import numpy as np
a=np.array([100,120,130])
for i in a:
    print(i)

100
120
130

In [26]:
#append
import numpy as np
a=np.array([])
b=np.append(a,eval(input("enter nos:")))
print(b)

enter nos:34,89,67
[34. 89. 67.]

In [32]:
#insert
my_input = [1, 2, 3, 4, 5]
 
print(f'Current Numbers List {my_input}')
 
number = int(input("Please enter a number to be added:\n"))
 
index = int(input(f'Enter the index between 0 and {len(my_input) - 1} to add the given number:\n'))
 
my_input.insert(index, number)
 
print(f'Updated List {my_input}')

Current Numbers List [1, 2, 3, 4, 5]
Please enter a number to be added:
34
Enter the index between 0 and 4 to add the given number:
2
Updated List [1, 2, 34, 3, 4, 5]

In [33]:

from array import *
a=array('i',[10,20])
b=array('i',[20,30])
c=a+b
print(c)
a.append(40)
print(a)
a.extend(b)
print(a)
a.insert(1,70)
print(a)

array('i', [10, 20, 20, 30])
array('i', [10, 20, 40])
array('i', [10, 20, 40, 20, 30])
array('i', [10, 70, 20, 40, 20, 30])

# DELETE VALUES

In [34]:
#POP
from array import *
a=array('i',[10,20,30,40,50])
a.pop() #REMOVE LAST VALUE BY DEFAULT
print(a)
a.pop(2) #REMOVE THE INDEX VALUE WHICH IS GIVEN
print(a)

array('i', [10, 20, 30, 40])
array('i', [10, 20, 40])

In [1]:
#REMOVE
from array import *
a=array('i',[10,20,30,40,50,10])
a.remove(10) #REMOVE fFIRST VALUE BY DEFAULT
print(a)

array('i', [20, 30, 40, 50, 10])